<!-- Site footer -->
<footer class="site-footer mt-2">
    <div class="container">
        <div class="row">
            <div dir="rtl" class="col-sm-12 col-md-6 text-right">
                <h6>درباره ی ما</h6>
                <p class="text-justify">به تازگی دیجی کالا هم مانند دیگر فروشگاه های اینترنتی بزرگ در سراسر دنیا به
                     تبدیل شده است و به خوبی هم توانسته در این حوزه فعالیت کند اما موردی که مورد توجه قرار
                    گرفته این است که زمانی که از دو فروشگاه خرید میکنید سفارش شما در دو سبد خرید قرار می گیرد و اگر مبلغ
                    یکی از این سفارشات بیش از 100 هزار تومان نباشد شما هر دو کالا را در یک زمان تحویل می گیرید اما برای
                    یکی از آنها هزینه ارسال پرداخت خواهید کرد.</p>
            </div>

            <div dir="rtl" class="col-xs-6 col-md-3 text-right">
                <h6>با دیجی‌کالا</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">اتاق خبر دیجی‌کالا</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">فروش در دیجی‌کالا</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">فرصت‌های شغلی</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">تماس با دیجی‌کالا</a></li>
                    <li><a href="http://scanfcode.com/category/android/">درباره دیجی‌کالا</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">راهنمای هویت بصری</a></li>
                </ul>
            </div>

            <div dir="rtl" class="col-xs-6 col-md-3 text-right">
                <h6>خدمات مشتریان</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">پاسخ به پرسش‌های متداول</a></li>
                    <li><a href="http://scanfcode.com/contact/">رویه‌های بازگرداندن کالا</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">شرایط استفاده</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">حریم خصوصی</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">گزارش باگ</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>