{% load static %}
<!--Top header-->
<div class="top-head w-100">
    <div class="w-100">
        <div>
            <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/cb348c90835efc3cdf2f73acff8b0c5a3d2d3e50_1613941045.gif"
                 alt="" style="width: 100%">
        </div>
    </div>
</div>
<!--End top header-->


<!--Middle header-->
<nav class="navbar navbar-expand bg-light navbar-light p-3 bg-wh" dir="rtl" style="height: 100px">
    <div class="container m-0" dir="rtl">
        <!-- Brand -->
        <a href="{% url 'home_view' %}">
            <img src="{% static 'img/logo.jpeg' %}" alt="Logo" style="height: 80px;">
        </a>
        <!-- Toggler/collapsibe Button -->

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">


            <form class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Cars">
                <button class="btn button-bg-color my-border-color mr-3" type="submit"><i class="fa fa-search"></i>
                    Search
                </button>
            </form>
        </div>
    </div>
    <div>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-8">

                    <a href="{% url 'logout' %}">
                        <button class="btn button-bg-color my-border-color mr-3" type="submit">
                            <span class="m-2">خروج از حساب کاربری</span>
                            <i class="fas fa-user"></i>
                        </button>
                    </a>


                </div>
                <div class="col-2 text-center p-1">
                </div>
                <div class="col-2 text-center p-1">
                    <a href="{% url 'basket_detail' %}">
                        <i class="fas fa-shopping-basket" style="font-size: 1.5rem;color: #919191"></i>
                    </a>
                    <i class="fas fa-circle" style="font-size: .75rem; color: red">
                        <span id="countOfItems" style="color: black"></span>
                    </i>
                </div>
            {% else %}
                <div class="col-8">
                    <a href="{% url 'login' %}">
                        <button class="btn button-bg-color my-border-color mr-3" type="submit">
                            <span class="m-2"> ورود به حساب کاربری</span>
                            <i class="fas fa-user"></i>
                        </button>
                    </a>

                </div>
            {% endif %}
        </div>
    </div>
</nav>
<!--End middle header-->

<nav class="navbar mega-menu navbar-expand-sm bg-light navbar-light sticky-top m-0 p-0" dir="rtl">
    <div class="container p-0 m-0">
        <ul class='nav menu-list m-0 p-0'>
            <li class="menu-item list-hover mx-3 p-0">
                <a href="#">
                    <i class="fas fa-align-justify"></i>
                    دسته بندی ها
                </a>

                <ul class="mega-sub-menu text-right" dir="rtl" id="megaSubMenu">

                </ul>


            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'applying_for_shop' %}">
                    درخواست فروشندگی
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">سوالی دارید</a>
            </li>
        </ul>
    </div>
</nav>
<div style="height: 10px"></div>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script>
    $.ajax({
        type: 'GET',
        url:{% url 'get_category' %},
        success: function (response) {
            let res = JSON.parse(response)

            let len = Object.keys(res).length
            for (let i = 0; i < len; i++) {
                $('#megaSubMenu').prepend(
                    `<li class="menu-sub-item menu-sub-item-title" ">
                        <a href="http://127.0.0.1:8000/search/${res[i].slug}"><h3 style="font-size: 22px">${res[i].title}</h3></a>
                        <ul id='mainCategory${res[i].slug}'>
                        </ul>
                    </li>`
                )
            }
            for (let j = 0; j < len; j++) {
                let len_sub_category = res[j].sub_categories.slugs.length
                for (let n = 0; n < len_sub_category; n++) {
                    $(`#mainCategory${res[j].slug}`).prepend(`
                        <li class="menu-sub-item-list">
                            <a href="http://127.0.0.1:8000/search/${res[j].sub_categories.slugs[n]}">${res[j].sub_categories.titles[n]}</a>
                        </li>`)
                }

            }
        }
    })


    $.ajax({
        type: 'POST',
        url:{% url 'get_count_of_basket_item' %},
        success: function (response) {
            let res = JSON.parse(response)
            $(`#countOfItems`).text(res.count_of_items)
        }
    })

</script>

