{% load static %}
<div class="d-none d-lg-block" style="height: 56px;"></div>
<nav style="direction: rtl !important;" class="navbar navbar-expand-lg navbar-light bg-light" id="my-header">
    <a class="navbar-brand " href="#"><i class="fab fa-xing"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="nav-item ">
            <a class="nav-link " href="#"><i class="fas fa-home"></i></a>
        </div>
        <div class="nav-item">
            {% if request.user.is_authenticated %}
                <a class="nav-link" href="#">
                        <i class="fas fa-user-check" style="color: #05dd00;"></i>

                </a>
            {% else %}
                <a class="nav-link" href="#">
                    <i class="fas fa-user" style="color:red"></i>
                </a>
            {% endif %}
        </div>

        <div id="search-field-2" style="display: none">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="mr-2 nav-item">
            <i id="search-icon-2" class="fas fa-search my-2 my-lg-0"></i>
            <i style="display: none" id="close-search-field-2" class="far fa-times-circle"></i>
        </div>
    </div>
</nav>
