{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}
{% block body %}
    <!--Header-->
    {% include 'base/header.html' %}
    <!--End Header-->
    <form action="{% url 'shop_detail' shop.slug %}" id="checkbox-container" method="get"
          autocomplete="off">
        <div class="my-container" dir="rtl" id="lablablab">
            <div class="row" style="margin-right: 1.25rem">
                {% for sub_category in sub_categories %}
                    <div class="col-4 col-lg-2">
                        <div class="my-rounded border bg-white w-100 h-100">
                            <a href="{% url 'category_detail' sub_category.slug %}">
                                <div class="p-2 w-100 h-75">
                                    {% if sub_category.image %}
                                        <img class="d-block w-100 h-100 m-auto my-rounded"
                                             src="{{ sub_category.image.url }}"
                                             alt="">
                                    {% else %}
                                        <img class="d-block w-100 h-100 m-auto my-rounded"
                                             src="{% static 'img/empty-img.jpeg' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="text-center w-75">{{ sub_category.title }}</div>
                            </a>
                        </div>
                    </div>

                {% endfor %}


            </div>
            <hr>
            <div class="row">

                <div class="col-lg-3 d-none d-lg-block">

                    <div class="p-3 my-rounded border bg-white my-3">
                        <div class="text-right">فیلتر ها</div>
                        <hr>
                        <div class="text-right">
                            <div class="form-check form-switch"
                                 dir="rtl">
                                {% for field in my_form.brand %}
                                    {{ field }}
                                    <br>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>


                <!--Card-->
                <div class="row col-12 col-lg-9" id="productContainer">
                    <div class="row col-12 bg-white my-rounded-1 m-2">
                        <div class="col-12 text-right" dir="rtl">
                            <div class="my-2">
                                <div class="d-inline-block m-0 p-0">
                                    <i class="fas fa-bars d-inline-block m-auto" style="font-size: 1.25rem">

                                    </i>
                                    <div class="d-inline-block h-100 m-auto">
                                        <div class="d-inline-block m-auto">مرتب سازی بر
                                            اساس
                                            :
                                        </div>
                                    </div>
                                    <div class="d-inline-block mx-2"
                                         id="order_by_container">
                                        {% for field in my_form.order_by %}

                                            <button class="btn btn-light">{{ field }}</button>

                                        {% endfor %}


                                    </div>
                                </div>

                            </div>

                            <hr>
                        </div>

                        {% for product in products %}
                            <div class="col-xl-4 col-6">
                                <div class="card">
                                    <div class="card-img"
                                         style="background-image:url({{ product.image.url }});">
                                        <div class="overlay">
                                            <div class="overlay-content">
                                                <a href="{% url 'product_single' product.slug %}">View Page</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-content" style="text-align: right">
                                        <a href="{% url 'product_single' product.slug %}">
                                            <h2>{{ product.name }}</h2>
                                            {% if product.shop_product_product.all.0 %}
                                                <p>{{ product.calculate_price }} تومان</p>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--End Card-->
            </div>
        </div>
    </form>
    <!--Footer-->
    {% include 'base/footer.html' %}
    <!--End Footer-->

{% endblock %}
{% block javascript %}

    <script>
        $(document).ready(function () {


            $('.card').delay(1800).queue(function (next) {
                $(this).removeClass('hover');
                $('a.hover').removeClass('hover');
                next();
            });
        });
        let container = $('#order_by_container input:radio')
        container.addClass('d-none')
        for (let radio of container) {
            if (radio.checked) {
                let myLabel = $("label[for='" + radio.id + "']")
                myLabel.parent().removeClass('btn-light')
                myLabel.parent().addClass('btn-danger')
            }
        }
        const brandForm = document.querySelectorAll(".form-check-input");

    </script>
    <script type="text/javascript">


        $("#checkbox-container input:checkbox").click(function (e) {
            $("#checkbox-container").submit();
        });

        $('#order_by_container label').click(function (e) {
            $("#checkbox-container").submit();
        });
    </script>

{% endblock %}

