{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/multi-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
{% endblock %}
{% block body %}
    {% include 'base/header.html' %}

    <!--Carousel-->
    <div class="my-container">
        <div class="d-none d-lg-block w-100 h-100" style="padding-right: 2rem">
            <a href="https://www.digikala.com/users/referral/?&amp;promo_name=%D8%AF%D8%B9%D9%88%D8%AA+%D9%BE%D8%B1+%D8%AC%D8%A7%DB%8C%D8%B2%D9%87&amp;promo_position=home_top_slider&amp;promo_creative=60843&amp;bCode=60843"
               class="c-adplacement__item" data-id="60843" target="_blank" title="دعوت پر جایزه"
               data-gtm-vis-first-on-screen-9070001_346="1382" data-gtm-vis-total-visible-time-9070001_346="100"
               data-gtm-vis-has-fired-9070001_346="1"><img
                    src="https://dkstatics-public.digikala.com/digikala-adservice-banners/cb728d2c99aea09ffe527f325c089cfbfaf8cc9c_1612128826.jpg?x-oss-process=image/quality,q_80"
                    alt="دعوت پر جایزه" class="w-100"></a>
        </div>
        <div class="row h-100 w-100">
            <div class="col-12 col-lg-8 h-100 w-100">
                <div id="myCarousel" class="carousel slide my-2" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                            <img class="w-100 h-100 rounded"
                                 src="{{ slide_list.0.image.url }}"
                                 alt="First slide">
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <h1>{{ slide_list.0.title }}</h1>
                                    <p>{{ slide_list.0.subtitle }}</p>
                                    <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign
                                        up today</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% for slide in slide_list|slice:"1:" %}
                            <div class="carousel-item h-100">
                                <img class="w-100 h-100 rounded"
                                     src="{{ slide.image.url }}"
                                     alt="First slide">
                                <div class="container">
                                    <div class="carousel-caption text-left">
                                        <h1>{{ slide.title }}</h1>
                                        <p>{{ slide.subtitle }}</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-12 col-lg-4 m-0 p-0">
                <div class="row h-100">
                    <div class="col-12 h-50 rounded">
                        <div class="p-3 h-100">
                            <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/0246d713973271dfbf3e0a0eb4f06c02b125bd31_1612362582.gif"
                                 alt="انتخابی مطمئن برای فصل سرما-انواع هودی "
                                 class="w-100 h-100 rounded">
                        </div>
                    </div>
                    <div class="col-12 h-50 rounded">
                        <div class="p-3 h-100">
                            <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/d0c6d85a3cdf22068b735e9e901703f979e5a9f6_1612266798.gif"
                                 alt="خرید سوپرمارکتی - مایع لباس یا پودر لباس" class="w-100 h-100 rounded">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End Carousel-->

    <!--Multi Slider-->
    <div class="bg-danger my-3">
        <div class="my-container">
            <div class="row p-3">
                <div class="col-10">
                    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row custom-height">
                                    {% for product in products|slice:":4" %}
                                        <div class="col-3">
                                            <a href="{% url 'product_single' product.slug %}">
                                                <div class="h-100 bg-white my-rounded w-100">
                                                    <figure class="figure h-50 w-100 mx-auto">
                                                        <img src="{{ product.image.url }}"
                                                             class="figure-img img-fluid w-100 my-rounded h-100 p-1 mx-auto"
                                                             alt="A generic square placeholder image with my-rounded corners in a figure.">
                                                    </figure>
                                                    <h3>
                                                        {{ product.name }}
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row custom-height">
                                    {% for product in products|slice:"4:8" %}
                                        <div class="col-3">
                                            <div class="h-100 mx-3 bg-white my-rounded">
                                                <figure class="figure h-50">
                                                    {% if product.image %}
                                                        <img src="{{ product.image.url }}"
                                                             class="figure-img img-fluid my-rounded h-100 p-1"
                                                             alt="A generic square placeholder image with rounded corners in a figure.">
                                                    {% endif %}
                                                </figure>
                                                <h3>
                                                    {{ product.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-left"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-right"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-2 bg-danger">

                    <div class="h-100 rounded p-2 bg-danger">
                        <i class="fab fa-shopify bg-danger" style="font-size: 10rem;"></i>
                        <h1 class="text-center">
                            پیشنهاد شگفت انگیز
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End Multi Slider-->

    <!-- First Category Container -->
    <div class="my-container my-3">
        <div class="row">
            {% for category in categories|slice:":4" %}
                <div class="my-rounded col-3 my-3 w-100 p-0">
                    <div class="m-2 p-0 h-100 ">

                            {% if category.image %}
                                <a href="{% url 'category_detail' category.slug %}">
                                <img src="{{ category.image.url }}"
                                     class="figure-img img-fluid w-100 my-rounded h-100 mx-auto"
                                     alt="A generic square placeholder image with rounded corners in a figure.">
                                </a>
                            {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Category Slider -->

    <!--Multi Slider-->
    <div class="my-3" style="background: #05dd00">
        <div class="my-container">
            <div class="row p-3">
                <div class="col-10">
                    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row custom-height ">
                                    {% for product in products|slice:":4" %}
                                        <div class="col-3 w-100">
                                            <div class="h-100 bg-white my-rounded w-100">
                                                <figure class="figure h-50 w-100 mx-auto">
                                                    {% if product.image %}
                                                        <img src="{{ product.image.url }}"
                                                             class="figure-img img-fluid w-100 my-rounded h-100 p-1 mx-auto"
                                                             alt="A generic square placeholder image with my-rounded corners in a figure.">
                                                    {% endif %}
                                                </figure>
                                                <h3>
                                                    {{ product.name }}
                                                </h3>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row custom-height">
                                    {% for product in products|slice:"4:8" %}
                                        <div class="col-3">
                                            <div class="h-100 m-2 bg-white rounded">
                                                <figure class="figure h-50">
                                                    {% if product.image %}
                                                        <img src="{{ product.image.url }}"
                                                             class="figure-img img-fluid rounded h-100 p-1"
                                                             alt="A generic square placeholder image with rounded corners in a figure.">
                                                    {% endif %}
                                                </figure>
                                                <h3>
                                                    {{ product.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-left"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-right"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-2" style="background: #05dd00">

                    <div class="h-100 rounded p-2" style="background: #05dd00">
                        <i class="fas fa-store-alt" style="font-size: 10rem; background: #05dd00"></i>
                        <h1 class="text-center">
                            پیشنهاد شگفت انگیز
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End Multi Slider-->

    <!-- Second Category Container -->
    <div class="my-container my-3">
        <div class="row">
            {% for Brand in BrandIntroduction %}
                <div class="h-100 my-rounded col-6 w-100 p-0 col-6">
                    <div class="m-2 p-0 h-100">
                        <figure class="figure h-100 w-100 mx-auto">
                            <a href="{{ Brand.action_url }}"><img src="{{ Brand.image.url }}"
                                                                  class="figure-img img-fluid w-100 my-rounded h-100 mx-auto"
                                                                  alt="A generic square placeholder image with corners in a figure."></a>
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
    <!-- End Category Slider -->

    <!--Multi Slider-->
    <div class="my-3">
        <div class="my-container bg-white">
            <div class="row">
                <div class="col-1">
                    Car
                    <hr style="background-color: #d41e0c">
                </div>
                <div class="col-11">
                    <br>
                    <hr>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row custom-height ">
                                    {% for car in CarProducts|slice:":5" %}
                                        <div class="col-2 w-100 ">
                                            <div class="h-100 bg-white my-rounded w-100 shadow">
                                                <figure class="figure h-50 w-100 mx-auto">
                                                    <img src="{{ car.image.url }}"
                                                         class="figure-img img-fluid w-100 my-rounded h-100 p-1 mx-auto"
                                                         alt="A generic square placeholder image with my-rounded corners in a figure.">
                                                </figure>
                                                <h3>
                                                    {{ car.name }}
                                                </h3>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row custom-height">
                                    {% for car in CarProducts|slice:"5:10" %}
                                        <div class="col-2">
                                            <div class="h-100 m-2 bg-white rounded shadow">
                                                <figure class="figure h-50">
                                                    <img src="{{ product.image.url }}"
                                                         class="figure-img img-fluid rounded h-100 p-1"
                                                         alt="A generic square placeholder image with rounded corners in a figure.">
                                                </figure>
                                                <h3>
                                                    {{ product.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-left"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-right"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End Multi Slider-->


    <!--Multi Slider-->
    <div class="my-3">
        <div class="my-container bg-white">
            <div class="row">
                <div class="col-2">
                    Mavad Shoyande
                    <hr style="background-color: #d41e0c">
                </div>
                <div class="col-10">
                    <br>
                    <hr>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row custom-height ">
                                    {% for shoyande in Mavadshoyande|slice:":5" %}
                                        <div class="col-2 w-100">
                                            <div class="h-100 bg-white my-rounded w-100 shadow">
                                                <figure class="figure h-50 w-100 mx-auto">
                                                    <img src="{{ shoyande.image.url }}"
                                                         class="figure-img img-fluid w-100 my-rounded h-100 p-1 mx-auto"
                                                         alt="A generic square placeholder image with my-rounded corners in a figure.">
                                                </figure>
                                                <h3>
                                                    {{ shoyande.name }}
                                                </h3>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row custom-height">
                                    {% for shoyande in Mavadshoyande|slice:"5:10" %}
                                        <div class="col-2">
                                            <div class="h-100 m-2 bg-white rounded shadow">
                                                <figure class="figure h-50">
                                                    <img src="{{ shoyande.image.url }}"
                                                         class="figure-img img-fluid rounded h-100 p-1"
                                                         alt="A generic square placeholder image with rounded corners in a figure.">
                                                </figure>
                                                <h3>
                                                    {{ shoyande.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-left"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next"
                       style="width: 5%">
                        <span class='' aria-hidden="true"><i class="fas fa-chevron-right"
                                                             style="color: black;"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End Multi Slider-->

    <!--Footer-->
    {% include 'base/footer.html' %}
    <!--End Footer-->





{% endblock %}
{% block javascript %}

{% endblock %}


