{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}
{% block body %}
    <!--Header-->
    {% include 'base/header.html' %}
    <!--End Header-->
    <form action="{% url 'search_detail' %}" id="checkbox-container" method="get"
          autocomplete="off">
        <div class="my-container" dir="rtl" id="lablablab">

            <div class="row" style="margin-right: 1.25rem">
                {% for sub_category in sub_categories %}
                    <div class="col-4 col-lg-2">
                        <div class="my-rounded border bg-white w-100 h-100">
                            <a href="{% url 'category_detail' sub_category.slug %}">
                                <div class="p-2 w-100 h-75">
                                    {% if sub_category.image %}
                                        <img class="d-block w-100 h-100 m-auto my-rounded"
                                             src="{{ sub_category.image.url }}"
                                             alt="">
                                    {% else %}
                                        <img class="d-block w-100 h-100 m-auto my-rounded"
                                             src="{% static 'img/empty-img.jpeg' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="text-center w-75">{{ sub_category.title }}</div>
                            </a>
                        </div>
                    </div>

                {% endfor %}


            </div>
            <hr>
            <div class="row">

                <div class="col-lg-3 d-none d-lg-block">


                </div>


                <!--Card-->
                <div class="row col-12 col-lg-9" id="productContainer">
                    <div class="row col-12 bg-white my-rounded-1 m-2">
                        <div class="col-12 text-right" dir="rtl">
                            <div class="my-2">
                                <div class="d-inline-block m-0 p-0">
                                    <i class="fas fa-bars d-inline-block m-auto" style="font-size: 1.25rem">

                                    </i>





                                    </div>
                                </div>

                            </div>

                            <hr>
                        </div>

                        {% for product in products %}
                            <div class="col-xl-4 col-6">
                                <div class="card">
                                    <div class="card-img"
                                         style="background-image:url({{ product.image.url }});">
                                        <div class="overlay">
                                            <div class="overlay-content">
                                                <a href="{% url 'product_single' product.slug %}">View Page</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-content" style="text-align: right">
                                        <a href="{% url 'product_single' product.slug %}">
                                            <h2>{{ product.name }}</h2>
                                            {% if product.shop_product_product.all.0 %}
                                                <p>{{ product.calculate_price }} تومان</p>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--End Card-->
            </div>
        </div>
    </form>
    <!--Footer-->
    {% include 'base/footer.html' %}
    <!--End Footer-->

{% endblock %}
{% block javascript %}

    <script>
        $(document).ready(function () {


            $('.card').delay(1800).queue(function (next) {
                $(this).removeClass('hover');
                $('a.hover').removeClass('hover');
                next();
            });
        });
        const brandForm = document.querySelectorAll(".form-check-input");

    </script>
    <script type="text/javascript">
        var checkboxValues = JSON.parse(sessionStorage.getItem('checkboxValues')) || {},
            $checkboxes = $("#checkbox-container :checkbox");

        $checkboxes.on("change", function () {
            $checkboxes.each(function () {
                checkboxValues[this.id] = this.checked;
            });

            sessionStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
        });
        // On page load
        $.each(checkboxValues, function (key, value) {
            let e = $("#" + key)
            e.prop('checked', value);
        });
        let activeClass = JSON.parse(sessionStorage.getItem('activeClass')) || {},
            $radios = $("#order_by_container :radio");

        $radios.on("change", function () {
            $radios.each(function () {
                activeClass[this.id] = this.checked;
            });

            sessionStorage.setItem("activeClass", JSON.stringify(activeClass));
        });
        // On page load
        $.each(activeClass, function (key, value) {
            let e = $("#" + key)
            e.prop('checked', value);
            if (value) {
                let myLabel = $("label[for='" + e.attr("id") + "']")
                myLabel.removeClass('btn-light')
                myLabel.addClass('btn-danger')
            }
        });


        $("#checkbox-container input:checkbox").click(function (e) {
            $("#checkbox-container").submit();
        });

        $('#order_by_container > div').click(function (e) {

            $("#checkbox-container").submit();
        });


    </script>

{% endblock %}

